<h1>Welcome {{User.username}}</h1>

<button onclick="addfaculty()">Add Faculty</button>
<button onclick="addstudent()">Add Student</button>

<form
  style="display:none;"
  action="admin/addfaculty"
  method="post"
  id="addfaculty"
>
  <p><input type="text" name="username" placeholder="Enter faculty name" /></p>
  <p>
    <input type="text" name="password" placeholder="Enter desired password" />
  </p>
  <button>Add</button>
</form>

<form
  style="display:none;"
  action="admin/addstudent"
  method="post"
  id="addstudent"
>
  <p><input type="text" name="username" placeholder="Enter enrollment no" /></p>
  <p>
    <input type="text" name="password" placeholder="Enter desired password" />
  </p>
  <button>Add</button>
</form>
<script>
  function addfaculty() {
    var x = document.getElementById("addfaculty");
    var y = document.getElementById("addstudent");
    if (y.style.display === "block") {
      y.style.display = "none";
    }

    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function addstudent() {
    var w = document.getElementById("addstudent");
    var z = document.getElementById("addfaculty");

    if (z.style.display === "block") {
      z.style.display = "none";
    }
    if (w.style.display === "none") {
      w.style.display = "block";
    } else {
      w.style.display = "none";
    }
  }
</script>
