$primary-color: #f8bb15;
//$primary-color: #e74c3c;
$time-lne-box-color:#1E8BC3;
body {
  min-width: 600px;
  outline: none !important;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  height: 50px!important;
}
.hero-profile {
  width: 100%;
  height: 50px;
}
.nav-header {
  height: 10vh;
  width: 100%;
  background-color: $primary-color;
  z-index: 9999;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  .nav-menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-top: 15px;
    font-size: 18px;
    color: #fff;
  }
}

.hero-area {
  height: 90vh;
  width: 100%;
  min-width: 600px;
  background-color: #484248;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.btn-kn-cta{
  padding: 6px 60px;
  background: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  transition: all .25s ease-in;
  &:hover,&:focus{
     background: $primary-color;
  color: #fff;
    outline: none;
  }
  
}

.hero-social-buttons{
  margin-top: 30px;
  
}
#hero {
  padding-top: 20px;
  color: #fff; 
    
    font-family: Roboto;
  >.hero-main{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-img{
  >img{
  height: 150px;
  width: 150px;
  margin: 10px 25px;
  border: 1px solid $primary-color;
    border-radius: 85px;
}
}
     .hero-text {   
    
    font-size: 56px;
       .hero-text-detail{
         font-size: 12px;
       }
  }
  }
 
}

.banner {
  display: flex;
  font-family: "Open-sanse", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #30343C;
  height: 40vh;
  width: 100%;
  position: relative;
  padding-left: 150px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.three-boxes {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  height: 400px;
  > .child-box {
    margin: 10px;
    width: 30%;
    min-width: 150px;
    height: 250px;
    background-color: #8DBF41;
    border-radius: 15px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

.profile-container {
  min-width: 600px;
  max-height: 480px;
  overflow: hidden;
  .profile-child {
    background: #ddd;
    margin: 7px 15px;
    min-height: 150px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  }
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  overflow: hidden;
  min-width: 600px;
  min-height: 60px;
  max-height: 300px;
  margin: 10px auto;
  .recommendation {
    width: 150px;
    height: 100px;
    margin: 5px;
    background-color: $time-lne-box-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  }
}

.footer {
  min-width: 600px;
  height: 250px;
  background-color: #313131;
  margin: 10px auto;
}